-e git+ssh://git@github.com/AllenInstitute/aibs-informatics-core.git@main#egg=aibs_informatics_core
-e git+ssh://git@github.com/AllenInstitute/aibs-informatics-aws-utils.git@main#egg=aibs_informatics_aws_utils
-e .
